{
  "ecmaFeatures": {
    "jsx": true,
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "defaultParams": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "spread": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "global-strict": true,
    "no-use-before-define": false,
  }
}
