:root {
  --green: #35D3AF;
  --gray: #6E778C;
  --blue: #00C3FF;
  --black: #252F3A;
  --light-gray: #D1DBDC;
  --hero-gradient1: #000F2D;
  --hero-gradient2: #113E60;
  --hero-gradient3: #255169;
}
